.card-list {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}

.card-item {
  width: 100%;
  height: 25%;
  margin: 0 auto;
  padding: 20px;
}
